* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

ul,
li {
  list-style: none;
}

input:focus,
button:focus {
  outline: none;
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title h1 {
  color: #BABECC;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  margin: 50px 0;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mb-1 {
  margin: 0.5rem;
}

button {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

button .icon {
  margin-right: 8px;
}
button.unit {
  border-radius: 8px;
  width: 48px;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 17.6px;
}
button.unit .icon {
  margin-right: 0;
}
button.favorite {
  background-color: #F0F3FF;
  color: #4A61DD;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
}
button.favorite:hover {
  background-color: #D8DEFF;
}
button.nav-button {
  border-radius: 8px;
  width: 50px;
  height: 50px;
  font-size: 22px;
  color: #5984D6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button.nav-button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
button.nav-button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
button.nav-button.logo {
  width: 100%;
  display: flex;
}
button.user {
  color: #5984D6;
  width: 100%;
  height: 50px;
  display: flex;
}
button.user .icon {
  margin-right: 10px;
}
button.user .info {
  font-weight: 400;
  font-size: 16px;
}
button.user .info .rules {
  font-size: 12px;
  text-align: right;
  color: #61677C;
}

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 0.9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: "";
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}

[tooltip]::after {
  content: attr(tooltip); /* magic! */
  /* most of the rest of this is opinion */
  text-align: center;
  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  background: #EBECF0;
  color: #5984D6;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  z-index: 1000; /* absurdity 2 */
  font-weight: 400;
  font-size: 12px;
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^=up]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #5984D6;
}

[tooltip]:not([flow])::after,
[tooltip][flow^=up]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^=up]::before,
[tooltip][flow^=up]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[tooltip][flow^=down]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #5984D6;
}

[tooltip][flow^=down]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^=down]::before,
[tooltip][flow^=down]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[tooltip][flow^=left]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #5984D6;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}

[tooltip][flow^=left]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^=right]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}

[tooltip][flow^=right]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}
/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^=up]:hover::before,
[tooltip][flow^=up]:hover::after,
[tooltip][flow^=down]:hover::before,
[tooltip][flow^=down]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^=left]:hover::before,
[tooltip][flow^=left]:hover::after,
[tooltip][flow^=right]:hover::before,
[tooltip][flow^=right]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login .title {
  color: #BABECC;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}
.login .alert {
  color: #AE1100;
  text-align: center;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logout .title {
  color: #BABECC;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

.nav {
  margin: 30px 0;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.logo img {
  height: 30px;
}

.navigation-list ul {
  display: flex;
}
.navigation-list li {
  margin-right: 15px;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list a:hover {
  color: #AE1100;
}
.navigation-list .btn-more {
  position: relative;
  display: inline-block;
  height: 100%;
}
.navigation-list .btn-more .dropdown-search {
  display: none;
  padding-top: 25px;
  width: 320px;
  position: absolute;
  right: 0;
}
.navigation-list .btn-more .search-area {
  position: absolute;
  padding: 100px;
  z-index: 99999;
  right: 0;
  background-color: #EBECF0;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  min-width: 320px;
}
.navigation-list .btn-more .search-area:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.navigation-list .btn-more .dropdown-add {
  display: none;
  position: absolute;
  padding: 12px 16px;
  left: -15px;
  z-index: 99999;
  word-break: normal;
}
.navigation-list .btn-more .dropdown-add ul {
  background-color: #EBECF0;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  padding: 30px;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  min-width: 280px;
  display: block;
  color: #5984D6;
}
.navigation-list .btn-more .dropdown-add ul:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.navigation-list .btn-more .dropdown-add ul li {
  margin-right: 0;
  padding: 10px 0;
  font-size: 18px;
}
.navigation-list .btn-more:hover .dropdown-search {
  display: block;
}
.navigation-list .btn-more:hover .dropdown-add {
  display: block;
}

.search {
  margin: 50px 0;
}

.search__row {
  text-align: center;
  position: relative;
}
.search__row .search-form {
  width: auto;
}
.search__row label {
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 8px;
  margin-right: 7px;
  position: absolute;
  font-size: 31px;
  color: #5984D6;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  background-color: #EBECF0;
}
.search__row label i {
  padding-top: 10px;
}
.search__row input {
  height: 50px;
  width: 500px;
  border-radius: 15px;
  margin-left: 60px;
  padding: 0 20px 0 20px;
}
.search__row input::placeholder {
  color: #A1A1A1;
  padding-left: 10px;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 599px) {
  .search__row input {
    width: 400px;
  }
}

.slider_main__row .title h1 {
  color: #BABECC;
  text-shadow: 1px 1px 1px #fff;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.main__item {
  background-color: #fff;
  padding: 20px;
  position: relative;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
}
.main__item .header {
  font-weight: 700;
  font-size: 16px;
  position: relative;
  height: 120px;
  display: flex;
  align-items: center;
}
.main__item .info {
  font-size: 14px;
}
.main__item .info .tags {
  display: flex;
  margin-bottom: 10px;
}
.main__item .info .tags span {
  background-color: rgba(89, 132, 214, 0.2);
  padding: 4px 12px;
  border-radius: 24px;
}
.main__item .info .date {
  margin-bottom: 5px;
}
.main__item .info .number {
  margin-bottom: 5px;
}
.main__item .info .executor {
  margin-bottom: 5px;
}
.main__item .footer {
  margin-top: 25px;
}

.slider_main__row .owl-dots {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.slider_main__row .owl-dots .owl-dot {
  transition: all 0.5s;
  width: 7px;
  height: 7px;
  background-color: #AE1100;
  margin: 0 5px;
  border-radius: 50%;
  outline: none;
}
.slider_main__row .owl-dots .active {
  width: 24px;
  height: 8px;
  border-radius: 4px;
}

.counter {
  margin-top: 20px;
}
.counter .title h1 {
  color: #BABECC;
  text-shadow: 1px 1px 1px #fff;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.counter__row {
  display: flex;
  align-items: center;
}
.counter__row .chars {
  width: 66%;
}
.counter__row .total {
  width: 34%;
  text-align: center;
  font-size: 20px;
  color: #888;
  background-color: #EBECF0;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  padding: 18px 20px;
  margin-top: 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  display: block;
}
.counter__row .total:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.counter__row .total .numbers {
  color: #AE1100;
  font-weight: 900;
  margin-top: 10px;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
}

.create__row {
  text-align: center;
}

form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}
form .select {
  display: block;
  font-family: sans-serif;
  line-height: 1.3;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23AE1100%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  text-shadow: 1px 1px 0 #fff;
  color: #777;
  font-weight: 300;
}
form .select::-ms-expand {
  display: none;
}
form .select:hover {
  border-color: #888;
}
form .select:focus {
  border-color: #aaa;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  color: #222;
  outline: none;
}
form .select option {
  font-weight: normal;
}
form *[dir=rtl] .select, form :root:lang(ar) .select, form :root:lang(iw) .select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}
form ::file-selector-button {
  display: none;
}
form .file {
  display: inline-block;
  width: 100%;
  padding: 70px 10px 10px 10px;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("/static/img/icons/clip.svg") center center no-repeat #EBECF0;
  border-radius: 20px;
  background-size: 60px 60px;
}
form .filefield {
  width: 120px;
  border: 2px dashed grey;
  border-radius: 5px;
  display: block;
  padding: 1.2em;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
}
form .filefield i {
  display: block;
  font-size: 42px;
  padding-bottom: 16px;
}

input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-group label {
  margin: 0;
  flex: 1;
}

.type_area {
  display: flex;
}

.executor-area {
  display: flex;
  justify-content: center;
}
.executor-area .title h1 {
  font-size: 20px;
  margin: 5px 0;
}
.executor-area .executor-list {
  text-align: left;
}
.executor-area .executor-list ul {
  display: block;
  margin-left: -10px;
}
.executor-area .executor-list ul li {
  display: block;
  position: relative;
}
.executor-area .executor-list ul li:not(:last-child) {
  margin-bottom: 16px;
}
.executor-area .executor-list ul li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -0.9em;
  background: #5984D6;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.executor-area .executor-form {
  padding: 0 30px;
}

.detail_area__row {
  display: flex;
  margin-bottom: 20px;
}
.detail_area__row .info {
  width: 66%;
  margin-right: 50px;
  color: #61677C;
  font-size: 18px;
}
.detail_area__row .info li {
  padding-bottom: 15px;
}
.detail_area__row .info span {
  color: gray;
}
.detail_area__row .info a {
  color: #AE1100;
}
.detail_area__row .include_doc {
  width: 34%;
}
.detail_area__row .include_doc .comment__row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;
}
.detail_area__row .include_doc .comment__row .alert {
  font-size: 20px;
  color: #5984D6;
}
.detail_area__row .include_doc .comment {
  padding: 0 0 0 10px;
}
.detail_area__row .include_doc .include_doc__row {
  display: flex;
}
.detail_area__row .include_doc .include_doc__row .alert {
  font-size: 20px;
  color: #5984D6;
}
.detail_area__row .include_doc .include_doc__row li {
  margin-bottom: 10px;
  padding: 0 0 0 10px;
}
.detail_area__row .include_doc .include_doc__row a {
  color: #AE1100;
}
.detail_area__row button {
  width: 50px;
  height: 50px;
  color: #AE1100;
}

.documents_list .order__row {
  text-align: center;
}
.documents_list .order__row form {
  display: inline;
}
.documents_list .order__row .order {
  background-color: #AE1100;
  font-weight: 400;
  text-shadow: none;
  color: #fff;
  padding: 5px 10px;
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  font-size: 14px;
}
.documents_list .documents__row {
  display: flex;
  flex-wrap: wrap;
}
.documents_list .documents__row .item {
  max-width: 33.3%;
  flex: 0 0 33.3%;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
}
.documents_list .documents__row .item .card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  height: 150px;
}
.documents_list .documents__row .item .card .header {
  color: grey;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.documents_list .documents__row .item .card .header .favorite {
  font-size: 14px;
}
.documents_list .documents__row .item .card .title {
  height: 80px;
  display: flex;
  align-items: center;
}
.documents_list .documents__row .item .card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.documents_list .documents__row .item .card .footer .number {
  font-family: "Montserrat", sans-serif;
}
.documents_list .documents__row .item .card .footer .type {
  color: #AE1100;
}

/*# sourceMappingURL=main.css.map */
