<nav class="nav">
    <div class="container">
        <div class="nav__row">
            <div class="logo">
                <a href="/">
                    <button class="logo unit" type="button"><img src="/static/img/logo.svg" alt="logo"> Sector</button>

                </a>
            </div>
            <div class="navigation-list">
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'main:detail_user' user.pk %}">
                                <button class="user unit" type="button">
                                    <div class="icon">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                    <div class="info">
                                        <div>{{ user.first_name }} {{ user.last_name }}</div>
                                        <div class="rules">
                                            {% for role in user.user_role.all %}
                                                {% if role.roles == 'ADMIN' %}
                                                    Администратор
                                                {% elif role.roles == 'USER' %}
                                                    Пользователь
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </button>
                            </a>
                        </li>
                        <li>
                            <div class="btn-more">
                                <button class="more unit" type="button"><i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <div class="dropdown-content">
                                    <ul>
                                        {% if perms.main.add_documents %}
                                            <li><a href="{% url 'main:create' %}"><i class="fa-solid fa-file"></i>
                                                Добавить
                                                документ</a></li>
                                        {% endif %}
                                        {% if perms.main.add_type %}
                                            <li><a href="{% url 'main:create_type' %}"><i
                                                    class="fa-solid fa-folder"></i>
                                                Добавить тип</a></li>
                                        {% endif %}
                                        <li><a href="{% url 'users:logout' %}"><i
                                                class="fa-solid fa-right-from-bracket"></i> Выход</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>