.detail_area__row {
  display: flex;

  .info {
    padding: 20px;
    width: 66%;
    margin-right: 50px;
    color: #61677C;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    font-size: 18px;

    button {
      margin: 0 7px 10px 0;
      color: $accent-color;
      width: 50px;
      height: 50px;
      font-weight: 400;
    }

    &:hover {
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }
  }

  .include_doc {
    width: 34%;

    li {
      margin-bottom: 10px;
      padding: 20px;
      box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;

    }
  }
}