.detail_area__row {
  display: flex;
  margin-bottom: 20px;

  .info {
    width: 66%;
    margin-right: 50px;
    color: #61677C;
    font-size: 18px;

    li {
      padding-bottom: 15px;
    }

    span {
      color: gray;
    }

    a {
      color: $accent-color;
    }
  }

  .include_doc {
    width: 34%;

    .comment__row {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      border-bottom: 1px solid lightgray;

      .alert {
        font-size: 20px;
        color: $alternative-color;
      }
    }

    .comment {
      padding: 0 0 0 10px;
    }

    .include_doc__row {
      display: flex;

      .alert {
        font-size: 20px;
        color: $alternative-color;
      }

      li {
        margin-bottom: 10px;
        padding: 0 0 0 10px;

      }

      a {
        color: $accent-color;
      }
    }
  }

  button {
    width: 50px;
    height: 50px;
    color: $accent-color;
  }
}