.slider_main__row {

  .title h1 {
    color: #BABECC;
    text-shadow: 1px 1px 1px #fff;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 10px 0;
  }
}

.main__item {
  background-color: #fff;
  padding: 20px;
  position: relative;
  border: 1px solid #EEEEEE;
  border-radius: 8px;

  .header {
    font-weight: 700;
    font-size: 16px;
    position: relative;
    height: 120px;
    display: flex;
    align-items: center;
  }

  .info {
    font-size: 14px;

    .tags {
      display: flex;
      margin-bottom: 10px;

      span {
        background-color: rgba(89, 132, 214, .2);
        padding: 4px 12px;
        border-radius: 24px;
      }
    }

    .date {
      margin-bottom: 5px;
    }

    .number {
      margin-bottom: 5px;
    }

    .executor {
      margin-bottom: 5px;
    }
  }


  .footer {
    margin-top: 25px;
  }
}

.slider_main__row {
  .owl-dots {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .owl-dots .owl-dot {
    transition: all .5s;
    width: 7px;
    height: 7px;
    background-color: $accent-color;
    margin: 0 5px;
    border-radius: 50%;
    outline: none;
  }

  .owl-dots .active {
    width: 24px;
    height: 8px;
    border-radius: 4px;
  }
}