{% extends 'base.html' %}
{% block content %}
    <section class="logout">
        <div class="container">
            <div class="title">
                Вы завершили работу
            </div>
            <div class="text-center">
                <a href="{% url 'users:login' %}">
                    <button>
                        <i class="fa-solid fa-right-to-bracket"></i> Авторизоваться
                    </button>
                </a>
            </div>
        </div>
    </section>
{% endblock %} 